.container
  .fourteen.columns
    %h4#edit-user
      =link_to 'Edit', edit_user_path(@user)
      Your Info
    %h2
      Hi, #{@user.name.capitalize}! 
  .sixteen.columns
    .twelve.columns#attending-events
      = render partial: "users/partials/attending"

    .twelve.columns.omega#created-events
      = render partial: "users/partials/created" 
      %br
      %br
      %br
      %br
      %br
      %br
      %br
      %br
      %br
      %br
