.container
  .sixteen.columns
    %h2
      Hi, #{@user.name.capitalize}! 
      %h4
        =link_to 'Edit', edit_user_path(@user)
        Your Info


    .ten.columns.alpha#created-events
      = render partial: "users/partials/attending"

    .four.columns.omegaattending-events
      = render partial: "users/partials/created"