.container
  .sixteen.columns
    %h2
      Hi, #{@user.name.capitalize}! 
      %h4
        =link_to 'Edit', edit_user_path(@user)
        Your Info
.twelve.columns#attended-events
  = render partial: "users/partials/attending"

.twelve.columns.omega#created-events
  = render partial: "users/partials/created" 
