<div id="mainsail">
  <div id="bg1" data-0="background-position:0px 0px;" data-end="background-position:-500px -10000px;">
    <div id="bg2" data-0="background-position:0px 0px;" data-end="background-position:-500px -8000px;">
      <div id="bg3" data-0="background-position:0px 0px;" data-end="background-position:-500px -6000px;">
        <div id="box1">
          <img src= >
        <h1 id="fronttitle">Lost Tribes</h1>
        



        </div>
      </div>
    </div>
  </div>
</div>
<div id="behindmap">
<div id="maparea">
<div id="smallerlt">Lost Tribes Beverages resurrects ancient brews from Lost Tribes and lost legends. Tales of old come to life by bringing a taste of history to people, like you, who are found. We honor all those who have not been able to tell their story and those who inspire us when they share theirs. We take pride in what we do and make our beverages with the finest ingredients, with you and the environment in mind.</div>
</div>
</div>

<div id="mainsail">
  <div id="bg1" data-0="background-position:0px 0px;" data-end="background-position:-500px -10000px;">
    <div id="bg2" data-0="background-position:0px 0px;" data-end="background-position:-500px -8000px;">
      <div id="bg3" data-0="background-position:0px 0px;" data-end="background-position:-500px -6000px;">
        <div id="box2">
        
        <img src="./../longfoam.png" id="foam">
          <!-- title box -->
          <!-- First Band (Slider) -->
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <div class="beerfeatures">
            <div class="large-12 columns">
              <div class="bfeatures"><img src="./../PintCutoutShikra.png" id="sliders" class="darker"/><h4><span class = "beertitle">Shikra</span></h4><p>Ancient Aramaic for “alcoholic beverage” and “profoundly delicious.” This vibrant pale ale has a hint of date and is our spin on an ancient Babylonian recipe recovered from a brewmaster named “Pup-uh.” Shikra's bold and refreshing hop character is elegantly balanced by a special blend of Caramel Malts. The brewing process is that of a traditional British Pale Ale, with a German-influenced New York twist. Spices of Chinook, Noble German Spalter, and citrus-like Cascade hops yield a balance and an experience unparalleled by any other beer. Recovered from the tribe of Judah whose family traveled through Babylon to North America before returning to the homeland.</p>
              </div>
              <br>
              <div class="bfeatures" ><img src="./../beerPintlightcut.png"id="sliders" class="lighter"/><h4><span class = "beertitle">Light</span></h4><p>
                Lost Tribes’ Light is cold brewed and cold aged to perfection in a unique brewing process. The choice of using only the finest Pale and Munich malts makes this a LOW-CALORIE knockout that’s refreshingly tasty all by itself or as a partner with any meal. Subtly hopped in traditional German style, this delicious lager’s explosive flavor will have you second guessing whether you're really drinking a low-calorie brew.
                "Inspired by the Tribe of Benjamin some of whom traveled with Judah before returning to the homeland."</p>
              </div>
              <div class="bfeatures" id="tejdiv"><img src="./../LostTribes-tejbottle.png" class="tejpic" id="sliders"/><h4><span class = "beertitle">Tej</span></h4><p>Our ancient style brew, described as "the drink of kings," is fermented with all natural wildflower honey and spicy gesho herbs. Myth claims the recipe was a gift from The Queen of Sheeba to King Solomon during his reign in the 9th century BCE. Gesho is traditionally used like hops for the preparation and flavoring of beverages. As you indulge in this sweet gingery nectar, you will be surprised by the pleasant bitterness of the gesho. As you peel back layers of the Tej, you’ll taste hints of coriander, citrus fruit, licorice, and heather flowers. Best when served chilled.
                Preserved from the Tribe of Dan who journeyed through Ethiopia before returning home.</p>
              </div>
            </div>
          </div>
          <br>
          <br>
          <br>
          <br>
          <br>


              <!-- sticky barr -or not-->
              
              
              <!-- activate modal button -->
              <!-- vendor button -->
              <br>
              <br>
              <br>
              <br>
              <br>
              <br>
              <br>
              <br>
              <br>
              <br>
              <br>
              <br>
              <br>
              <br>

              <div class="icon1">
                <a href="/users/register" class="specialbeers"> <i class="icon-tags"></i>Sign up to become a vendor</a>
              </div>
              <div class="icon2">
                <a href="mailto:info@LostTribesBrew.com" class="specialbeers"><i class="icon-envelope-alt"></i> Contact Lost Tribes</a>
              </div>
              <br>
              <br>
              <br>
              <br>
              <br>
              <br>
              <br>
              <br>
              <p id="foot">&copy; Ryanrhinochris</p>


        </div>
      </div>
    </div>
  </div>
</div>
<script type="text/javascript">
    skrollr.init();
</script>