<section class='container'>
<div class='sixteen columns'>
<div class="sixteen columns">
  <h1>Your Event</h1>

  <%= render 'form' %>

  <!-- <%= link_to 'Back', events_path %> -->
</div>
</div>
</section>