<section class='container'>
  <div class='sixteen columns'>
    <h1>Listing carts</h1>
    <table>
      <thead>
        <tr>
          <th></th>
          <th></th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <% @carts.each do |cart| %>
        <tr>
          <td><%= cart.line_items.count %></td>
          
          <td><%= link_to 'Show', cart %></td>
          <td><%= link_to 'Edit', edit_cart_path(cart) %></td>
          <td><%= link_to 'Destroy', cart, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
        <% end %>
      </tbody>
    </table>
    <br>
  </div>
</section>