<p id="notice"><%= notice %></p>

<% @cart.line_items.each do |li| %>
  <% li.beer_id %>
  <% beer = Beer.find li.beer_id %>
  <%= beer.title %>
  <br>
  <br>
<% end %>


<%= link_to 'Edit', edit_cart_path(@cart) %> |
<%= link_to 'Back', carts_path %>
