<section class='container'>
  <div class='sixteen columns'>
    <div class="beer-info">
      <h1>Got a new brew?</h1>
      <%= render 'form' %>
      <!-- <%= link_to 'Back', beers_path %> -->
    </div>
  </div>
</section>