.event_img {
	height: 100%;
	width: 100%;
	border: 5px solid #fafaf6;
	-webkit-box-shadow: 0px 1px 1px #ccc;
	-moz-box-shadow: 0px 1px 1px #ccc;
	box-shadow: 0px 1px 1px #ccc;
	margin-top: 10px;
}
.event_item.container{
	margin-top: 10px;
	height: 300px;
}
.event_item:hover {
	opacity: 1;
	-webkit-transform: scale(1.01);
	-moz-transform: scale(1.01);
	-o-transform: scale(1.01);
	transform: scale(1.01);
}
div .event_item:nth-child(odd) {
	background-color: #FF9933;
}
div .event_item:nth-child(even) {
	background-color:#E8E8E8; 	
}
.title {
	font-size: 24px;
   	line-height: 1.5em;
	letter-spacing: 1px;
	text-transform: uppercase;
	text-shadow: 1px 1px 2px #fff;
	padding:10px 0 10px 0; 
}
.start, .street, .desc, #add-to-user,p #add-to-user{
     clear: both;
     padding-left: 20px;
}
.street {
	padding: 0 10px 0 0; 
	margin: 0;
}
.location {
	padding-left: 20px;
}
.nav {
	float: left;
	display: inline-block;
}
.nav a {
	padding: 5px 5px 0 0;
	text-decoration: none;
}