#user_role {
  // margin: 0 auto;
}

#user-submit {
  height: 40px;
  width: 40px;
}

#rememberable {
  // float: left;
  display: inline-block;
  margin-bottom: 20px;
}

#user-sign-up {
  margin-left: 80px;
}