.nav-out {
  // list-style: none;	
  margin: 0px;
  padding: 0;
  background: black;
  height: 50px;
  width: 100%;
  // position: absolute;

  select {
    display: none;
    width: 100%;
    // margin: 0 auto;
    height: 30px;
  }
}

.nav-list {
  height: 100%;

  li {
    display: inline;
    border: 1px solid black;
    // background: orange;
    margin: 0px;
    height: 100%;
    float: left;
    position: relative;
    border-right: 1px solid gray;

    &:nth-child(1) {
      border-left: 1px solid gray;
    }

    &:nth-child(5) {
      // border-left: 1px solid gray; 
    }

    &:hover {



      ul {
        height: auto;
        overflow: auto;
        opacity: 10;
        filter: alpha(opacity=100);
      }
    }

    a {
      display: inline-block;
      text-decoration: none;
      padding: 15px 12px;
      // border-radius: 7px;
      color: white;

      // &:hover {
      //   background: blue;
      // }
    }
  }

  ul {
    margin: 0px;
    position: absolute;
    z-index: 999;
    background: black;
    min-width: 100%;
    border-radius: 4px;

    -webkit-box-shadow: 5px 5px 7px rgba(0,0,0,0.3);
    -moz-box-shadow: 5px 5px 7px rgba(0,0,0,0.3);
    box-shadow: 5px 5px 7px rgba(0,0,0,0.3);

    height: 0px;
    overflow: hidden;

    opacity: 0;
    filter: alpha(opacity=0);

    -webkit-transition: opacity 0.4s ease-out;
    -moz-transition: opacity 0.4s ease-out;
    -o-transition: opacity 0.4s ease-out;
    transition: opacity 0.4s ease-out;

    li {
      float: none;
      display: list-item;
      border-bottom: 2px solid black;

      a {
        display: block;
        line-height: 30px;
        text-transform: none;
      }

      span {
        display: none;
      }
    }
  }
}

.nav-list li:hover > a{
  background: gray;
  color: white;
}

input {
  margin: 0 0 5px 0;
}

#nav-right {
  float: right;
}
