%thead
  %tr
    %th Title
    %th Description
    %th Image url
    %th Street
    %th Street2
    %th City
    %th State
    %th Zip
    %th Start date
    %th Start time
    %th End date
    %th End time
    %th Creator
    %th Price
    %th More info
    %th edit 
    %th destroy 
    %th register 